body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(11, 11, 11, 0.487);
    color: #00ff1995;
    margin: 0;
    padding: 0;
  }
  
  .matrix-background {
    position: relative;
    z-index: 1;
    padding: 20px;
  }
  


  header {
    text-align: center;
    padding: 50px;
  }
  
  h1, h2, h3, p {
    margin: 20px;
  }
  

  .profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }
  


  .pill-container {
    display: flex;
    margin: 80px;
    padding: 0px;
    margin-bottom: 0px;
  }
  

  footer {
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgba(95, 95, 95, 0.297);
    color: #f1f1f1;
    border-top: 1px solid #00FF00;
  }
  
  .social-links img {
    filter: invert(0.7);
    width: 30px;
    margin: 0 10px;
  }
  
  .logolba {
    padding: 20px;
    padding-top: 0px;
    align-items: center;
    filter: invert(0.7);
    width: 200px;
    margin: 0 10px;
  }
  
  .redirect-message {
    text-align: center;
    padding: 50px;
  }
  
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .main {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 20px;
    opacity: 0.7;
    background-color: #333333f1;
  }
  
  .pill-container {
    display: flex;
    justify-content: center;
}


  #matrix-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  
  @media screen and (max-width: 768px) {
    .projeto {
      flex: 1 1 100%;
    }
  
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar a {
      padding: 5px;
      margin: 5px 0;
    }
  
    header {
      padding: 20px;
    }
  
    .project-image {
      width: 100%;
    }
  
    .about-me {
      flex-direction: column;
    }
  
    .profile-photo {
      margin: 0 auto 20px;
    }
  }
  
  #the-white-rabbit {
    background-color: #333333b8;
  }
  
  #the-white-rabbit p {
    font-size: 1.5em;
    font-weight: 300;
    color: #f1f1f1;
  }
  
  .input-group label {
    font-size: 1.5em;
    color: #f1f1f1;
  }
  
  @media screen and (max-width: 480px) {
    header h1 {
      font-size: 1.5em;
    }
  
    .projeto {
      margin: 5px;
      padding: 10px;
    }
  
    .input-group input, .input-group textarea {
      padding: 5px;
    }
  
    .submit {
      padding: 5px 10px;
    }
  }
  
