body {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(11, 11, 11, 0.487);
  color: #00ccff95;
  margin: 0;
  padding: 0;
  font-size: 1.1em
}

.matrix-background {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.navbar {
  background-color: #333333b8;
  color: #00ccff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  opacity: 0.9;
  flex-wrap: wrap;
}

.navbar a {
  color: #00ccff;
  text-decoration: none;
  padding: 10px;
}

header {
  text-align: center;
  padding: 50px 20px;
}

h1, h2, h3, p {
  margin: 20px;
}

h2 {
  color: #29b9ff;
  font-size: 2em;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-photo {
  border-radius: 50%;
  width: 100%;
  max-width: 333px;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
  border-style: solid;
  border-color: #808080;
}

iframe {
  height: 100vh;
  width: 100%;
  max-height: 500px;
}

.project-image {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.session-content {
  color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.projeto {
  flex: 1 1 calc(45% - 20px);
  margin: 10px;
  padding: 20px;
  border: 1px solid #00ccff95;
  border-radius: 10px;
  background-color: rgba(11, 11, 11, 0.7);
  box-sizing: border-box;
}

.pill-container {
  display: flex;
  margin: 80px;
  padding: 0px;
  margin-bottom: 0px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input, .input-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #00ccff95;
  border-radius: 5px;
  background-color: #ffffff;
  color: #00000095;
}

#contact-form .input-group {
  margin-bottom: 20px;
}

.submit, .expand-button {
  height: 50px;
  width: 150px;
  font-size: larger;
  background-color: #3498db;
  color: #f1f1f1;
  padding: 10px 20px;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.submit:hover, .expand-button:hover {
  background-color: #336699(111, 111, 111, 0.7);
}

footer {
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 20px;
  background-color: rgba(95, 95, 95, 0.297);
  color: #f1f1f1;
  border-top: 1px solid #00ccff;
}

.social-links img {
  filter: invert(0.7);
  width: 30px;
  margin: 0 10px;
}

.rabbit-img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  border-style: solid;
  border-color: #00ccff95;
  margin-bottom: 10%;
}

.logolba {
  padding: 20px;
  padding-top: 0px;
  align-items: center;
  filter: invert(0.7);
  width: 200px;
  margin: 0 10px;
}

.redirect-message {
  text-align: center;
  padding: 50px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

main {
  border-style: double;
  border-color: #808080;
  border-radius: 10px;
  margin: 20px;
  opacity: 0.77;
  background-color: #333333f1;
  padding: 20px;
  box-sizing: border-box;
}

#matrix-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .projeto {
      flex: 1 1 100%;
  }

  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar a {
      padding: 5px;
      margin: 5px 0;
  }

  header {
      padding: 20px;
  }

  .project-image {
      width: 100%;
  }

  .about-me {
      flex-direction: column;
  }

  .profile-photo {
      margin: 0 auto 20px;
  }

  iframe {
      max-height: 300px;
  }
}

#the-white-rabbit {
  background-color: #333333b8;
}

#the-white-rabbit p {
  font-size: 2em;
  font-weight: 300;
  color: #f1f1f1;
}

.input-group label {
  font-size: 1.5em;
  color: #f1f1f1;
}

@media screen and (max-width: 480px) {
  header h1 {
      font-size: 1.5em;
  }

  .projeto {
      margin: 5px;
      padding: 10px;
  }

  .input-group input, .input-group textarea {
      padding: 5px;
  }

  .submit {
      opacity: 1.0;
      padding: 5px 10px;
  }

  iframe {
      max-height: 200px;
  }
}

/* Additional styles for "Ver projeto" buttons */
.project-link {
  background-color: #00ccff95;
  color: #111111;
  padding: 10px 20px;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1em;
  transition: background-color 0.3s, color 0.3s;
}

.project-link:hover {
  background-color: #00ccff;
  color: #000;
}
